Here is Subject

<html>

<body>
  Hello, <%= name %>.：<br /><br />

  <ul>
    <li>
      Account：
      <ul>
        <li>username: <%= username %></li>
        <li>password: <%= password %></li>
      </ul>
    </li>
  </ul>

  <br />

  Have fun! <br /><br />

  <p style="text-align:right;">
    Sample Organization <br />
    xxxx-xx-xx
  </p>


</body>

</html>
